<div class="col-sm-12">
  <h1>Enrolled students at <%= @classroom.name %></h1>

  <table class="table table-stripped table-bordered">
    <thead>
      <tr>
        <th>Fullname</th>
        <th>Username</th>
        
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.fullname %></td>
          <td><%= user.username %></td>          
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>